#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;

  .level-input {
    max-width: 80px;

    .css-ume8vi-MuiInputBase-input-MuiInput-input {
      color: #fff;
      text-align: center;
      font-size: 20px;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  }
}

.rs-table,
.list-table {
  text-align: center;
  margin: auto;
  border-collapse: collapse;

  th,
  td {
    padding: 3px 15px;
    border: 1px solid #fff;
  }
}