#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.rs-table {
  text-align: center;
  margin: auto;
  border-collapse: collapse;

  th,
  td {
    padding: 5px 10px;
    border: 1px solid #fff;
  }
}